/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
}

.heroTitleIcon {
  width: 6rem;
  height: 6rem;
  flex: 0 0 auto;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroTitle {
    gap: 0.5rem;
  }

  .heroTitleIcon {
    width: 4.8rem;
    height: 4.8rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
